<div layout="column" flex id="content">
    <md-content layout="row" flex class="md-padding md-primary md-hue-2">

        <md-card flex="100">
            <md-card-content >
                <md-input-container>
                    <label>Identifiant inventaire</label>
                    <input ng-model="" type="text"/>
                </md-input-container>
                <md-input-container>
                    <label>Désignation</label>
                    <input ng-model="" type="text"/>
                </md-input-container>
                <md-input-container>
                    <label>Auteur(es)</label>
                    <input ng-model="" type="text"/>
                </md-input-container>
            </md-card-content>
        </md-card>
        <md-card flex="50">
            <md-toolbar class="md-primary md-hue-2 md-toolbar-tools">
                Détails
            </md-toolbar>
            <md-card-content>
                <md-input-container>
                    <label>Datation</label>
                    <input ng-model="" type="text"/>
                </md-input-container>
                <md-input-container>
                    <label>Provenance</label>
                    <input ng-model="" type="text"/>
                </md-input-container>
                <md-input-container>
                    <label>Matériaux</label>
                    <input ng-model="" type="text"/>
                </md-input-container>
                <md-input-container>
                    <label>Techinque(s) de réalisation</label>
                    <input ng-model="" type="text"/>
                </md-input-container>
                <md-input-container>
                    <label>État</label>
                    <input ng-model="" type="text"/>
                </md-input-container>
                <md-input-container>
                    <label>Marques et inscriptions</label>
                    <input ng-model="" type="text"/>
                </md-input-container>
                <md-input-container>
                    <label>Fonction d'usage</label>
                    <input ng-model="" type="text"/>
                </md-input-container>
            </md-card-content>
        </md-card>
        <md-card flex="50">
            <md-toolbar class="md-primary md-hue-1 md-toolbar-tools">
                Acquisition
            </md-toolbar>
            <md-card-content>
                <!--
                    Mode d'acquisition
                    Nom donateur
                    date qcquistion
                    prix d'achat
                -->
                <md-input-container>
                    <label>Mode d'acquistion</label>
                    <input ng-model="" type="text"/>
                </md-input-container>
                <md-input-container>
                    <label>Nom du donateur</label>
                    <input ng-model="" type="text"/>
                </md-input-container>
                <md-input-container>
                    <label>Date d'acquistion</label>
                    <input ng-model="" type="text"/>
                </md-input-container>
                <md-input-container>
                    <label>Prix</label>
                    <input ng-model="" type="text"/>
                </md-input-container>

            </md-card-content>
        </md-card>
        <md-card flex="50">
            <md-toolbar class="md-primary md-toolbar-tools">
                <h3>Observation</h3>
            </md-toolbar>
            <md-card-content>
                <!-- Observation -->
                <textarea ng-model="">

                </textarea>
            </md-card-content>
        </md-card>


    </md-content>
</div>