<!doctype html>
<html lang="en">
<head>

    <title>Material Museion</title>


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>

    <link rel="stylesheet" href="./bower_components/angular-material/angular-material.css"/>
    <link rel='stylesheet' href='/bower_components/textAngular/src/textAngular.css'>
    <link rel="stylesheet" href="./styles/style.css"/>

</head>
<body ng-app="museion" layout="column" ng-controller="AppController">

<div layout="row" flex>
    <md-sidenav layout="column"
                md-component-id="left">
        <md-toolbar class="md-toolbar-tools md-primary" ng-click="toggleSidenav('left')">
            Museion
        </md-toolbar>
        <md-button href="#/"  class="md-primary">
            Acceuil
        </md-button>

        <md-button href="#/oeuvre" class="md-primary" >
            Nouvelle oeuvre
        </md-button>


        <md-button href="#/inventaire" class="md-primary">
            Inventaire
        </md-button>

    </md-sidenav>


    <md-button class="md-primary md-fab md-fab-top-left" ng-click="toggleSidenav('left')">
        M
    </md-button>
    <md-content flex>
        <ng-view onload="" autoscroll="" flex>
        </ng-view>
    </md-content>

</div>


<!-- Dependencies -->
<script src="./bower_components/angular/angular.js"></script>
<script src="./bower_components/angular-material/angular-material.js"></script>
<script src="./bower_components/angular-animate/angular-animate.js"></script>
<script src="./bower_components/angular-aria/angular-aria.js"></script>
<script src="./bower_components/angular-route/angular-route.js"></script>
<script src="./bower_components/angular-resource/angular-resource.js"></script>

<script src='/bower_components/textAngular/dist/textAngular-rangy.min.js'></script>
<script src='/bower_components/textAngular/dist/textAngular-sanitize.min.js'></script>
<script src='/bower_components/textAngular/dist/textAngular.min.js'></script>

<script src="./js/app.js"></script>
<script src="./js/services/Oeuvre.js"></script>
<script src="./js/controller/Oeuvre.js"></script>

</body>
</html>